
*.class
bin/
/build/
.gradle/
.settings/
.metadata/


target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.used
pom.xml.next
release.properties

.DS_Store
Thumbs.db

.recommenders/

__pycache__/

instance/
config.json